@import "../../../styles/colors";
@import "../../../styles/mixins";

.projects {
  position: relative;
  background-color: $background--light;
  width: 100%;
  padding: 64px 0;
  @include respond-to('medium') {
    padding: 96px 0;
  }
  @include respond-to('large') {
    padding: 96px 0;
  }
  & &__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
  }
}