@import "../../../styles/colors";

.projects {
  position: relative;
  background-color: $background;
  width: 100%;
  padding: 96px 0;
  & &__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
  }
}