@import "../../../styles/colors";

.project-card {
  display: flex;
  position: relative;
  background-color: #fafafa ;
  border-radius: 4px;
  margin-bottom: 12px;
  &__content {
    padding: 24px 32px;
    width: 100%;
    &__title-container {
      &__title {
        margin: 0;
        display: block;
        color: $colors-secondary;
        font-weight: 500;
        &__date {
          display: inline-block;
          margin-top: 0;
          font-style: italic;
          font-weight: 400;
          margin-bottom: 8px;
          color: #757575;
        }
      }
      &__subtitle {
        margin-top: 0;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 8px;
        color: #757575;
      }
    }
  }
}
