@import "../../../styles/colors";
@import "../../../styles/mixins";

.tech-tags {
  &__tag {
    background-color: $colors-primary--dark;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-top: 4px;
    font-size: 11px;
    @include respond-to('small') {
      padding: 4px 8px;
      font-size: 13px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}