@import "../../../styles/colors";
@import "../../../styles/mixins";

.project-section {
  position: relative;
  background-color: $background--light;
  width: 100%;
  padding: 64px 0;
  @include respond-to('medium') {
    padding: 96px 0;
  }
  @include respond-to('large') {
    padding: 96px 0;
  }
  &__img {
    width: 100%;
  }
}