@import "../../../styles/colors";
@import "../../../styles/mixins";

.project-section {
  position: relative;
  background-color: $background--light;
  width: 100%;
  padding: 64px 0;
  @include respond-to('medium') {
    padding: 96px 0;
  }
  @include respond-to('large') {
    padding: 96px 0;
  }
  &__img {
    width: 100%;
    max-height: 288px;
    max-width: 360px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 16px;
    @include respond-to('small') {
      margin-bottom: 32px;
      max-height: none;
      max-width: none;
    }
  }
}