@import "../../../styles/colors";
@import "../../../styles/mixins";

.about {
  position: relative;
  background-color: $background;
  width: 100%;
  padding: 64px 0;
  @include respond-to('medium') {
    padding: 96px 0;
  }
  @include respond-to('large') {
    padding: 96px 0;
  }
  &__content {
    max-width: 420px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
    @include respond-to('small') {
      margin-top: 0;
      max-width: 100%;
    }
    & &__title {
      margin: 0;
      margin-bottom: 16px;
      font-weight: 700;
    }
    &__bio {
      color: #12173b;
      white-space: pre-wrap;
      &--emphasis {
        color: $colors-primary;
        font-weight: 600;
      }
    }
  }
}