@import "../../../styles/colors";

.about {
  position: relative;
  background-color: $background;
  width: 100%;
  padding: 96px 0;
  & &__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 800;
  }
  &__bio {
    color: #12173b;
    white-space: pre-wrap;
  }
}