@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/mixins";

.home {
  &__content {
    display: inline-block;
    width: 100%;
    background-color: $background--light;
    position: relative;
    margin-top: $hero-height--sm;
    @include respond-to('medium') {
      margin-top: $hero-height;
    }
  }
}