$colors-primary: #3f51b5;
$colors-primary--dark: #283593;
$colors-secondary: #7E57C2;
$colors-secondary--dark: #643da9;
$background--dark: #d7dfe5;
$background: #e7ebef;
$background--light: #edf0f2;
$background--light-2: #dee4e8;
$background-text: #000;  

$code-class: #afb42b;
$code-class-keyword: #643da9;
$code-class-title: #e91e63;
$code-keyword: #643da9;
$code-symbol: #2962ff;
$code-comment: #90a4ae;
$code-string: #43a047;
$code-meta: #e64a19;
$code-number: #f57c00;
$code: #4d5cb3;