$colors-primary: #3f51b5;
$colors-primary--dark: #283593;
$colors-secondary: #7E57C2;
$colors-secondary--dark: #643da9;
$background--dark: #d7dfe5;
$background: #e7ebef;
$background--light: #edf0f2;
$background--light-2: #dee4e8;
$background-text: #000;  

$code-class: #3f51b5;
$code-class-keyword: #8a40bf;
$code-class-title: #3f51b5  ;
$code-keyword: #8a40bf;
$code-important: #8a40bf;
$code-symbol: #536dfe;
$code-comment: #90a4ae;
$code-string: #43a047;
$code-bash: #4d5cb3;
$code-meta: #e64a19;
$code-number: #f57c00;
$code: #6771ad;
$code-function: #6771ad;
$code-function-keyword: #8a40bf;
$code-function-title: #2962ff;
$code-params: #e64a19;
$code-literal: #43a047;
$code-attr: #c3134e;
$code-yml-attr: #c3134e;
$code-punctuation: #3f51b5;
$code-property: #c3134e;
$code-variable: #e91e63;
$code-boolean: #643da9;
$code-operator: #536dfe;
$code-constant: #3fa48e;