@import "./mixins.scss";

$grid-columns: 12;
$gutter: 32px;
$gutter-sm: 16px;

.g__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
@for $i from 1 through $grid-columns {
  $class-name: ".g__col-" + $i;
  $percent: percentage($i / $grid-columns);
  @include responsive-modifiers($class-name) {
    width: calc(#{$percent} - #{$gutter-sm * 2});
    padding: 0 $gutter-sm;
    position: relative;
  }
  #{$class-name} {
    @include respond-to('small') {
      width: calc(#{$percent} - #{$gutter * 2});
      padding: 0 $gutter;
    }
  }
}
