@import "./colors.scss";
@import "./mixins.scss";
@import "./typography.scss";
@import "./variables.scss";
@import "./grid.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
body {
  // width: 100%;
  // overflow-x: hidden;
}

.page {
  &__content {
    display: inline-block;
    width: 100%;
    background-color: $background--light;
    position: relative;
    margin-top: $hero-height--sm + 64px;
    @include respond-to('medium') {
      margin-top: $hero-height + 64px;
    }
  }
}

.m {
  @include responsive-modifiers('&-t--32') {
    margin-top: 32px;
  }
  @include responsive-modifiers('&-v--8') {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.flex {
  &--v-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @include responsive-modifiers('&--row-reverse') {
    flex-direction: row-reverse;
  }
}