@import "../../../styles/colors";
@import "../../../styles/variables";

.hero {
  height: $hero-height;
  position: relative;
  background-color: $background--light-2;
  position: fixed;
  width: 100%;
  &__content {
    position: absolute;
    padding-right: 32px;
    top: 50%;
    max-width: 735px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    &__title {
      margin: 0;
    }
    &__subtitle {
      max-width: 612.5px;
      margin: 0;
      margin-top: 16px;
    }
  }
}