@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.hero {
  height: $hero-height--sm;
  position: relative;
  background-color: $background--light-2;
  position: fixed;
  width: 100%;
  padding-top: 64px;
  background-image: url("./images/dot.png");
  background-size: 5px;
  background-repeat: repeat;
  background-position: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include respond-to('large') {
    height: $hero-height;
    background-image: url("./images/fluid_wave.png"), url("./images/dot.png");
    background-size: 544px 544px, 10px;
    background-repeat: no-repeat, repeat;
    background-position: 100% 100%, 0 0;
  }
  &__content {
    text-align: center;
    @include respond-to('large') {
      width: auto;
      padding-left: 32px;
      padding-right: 32px;
      text-align: left;
    }
    &__title {
      margin: 0;
    }
    &__subtitle {
      max-width: 612.5px;
      padding-right: 16px;
      padding-left: 16px;
      margin: 0 auto;
      margin-top: 8px;
      @include respond-to('large') {
        margin: 0;
        margin-top: 16px;
        padding-right: 0;
        padding-left: 0;
      }
      font-weight: 300;
    }
    & &__date {
      margin: 0 auto;
      font-weight: 400;
      font-style: italic;
      color: #757575;
      margin-top: 4px;
      @include respond-to('small') {
        margin-top: 0;
      }
      &--extra {
        margin: 0 auto;
        font-weight: 400;
        font-style: italic;
        color: #757575;
        margin-top: 8px;
      }
    }
  }
}
