@import "../../../styles/colors";
@import "../../../styles/mixins";

.container {
  width: calc(100% - 32px);
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: hidden;
  @include respond-to('small') {
    width: calc(100% - 64px);
    padding-left: 32px;
    padding-right: 32px;
  }
  @include respond-to('large') {
    margin: 0 auto;
    width: 980px;
    padding-left: 16px;
    padding-right: 16px;
  }
}