@import "../../styles/colors";
@import "../../styles/mixins";

.blog-card {
  background-color: #fafafa ;
  border-radius: 4px;
  margin-bottom: 12px;
  @include respond-to(small){
    height: 224px;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include respond-to(small) {
      flex-direction: row;
    }
    &__img-background {
      width: 100%;
      display: flex;
      justify-content: center;
      @include respond-to(small){
        width: auto;
      }
    }
    &__img-wrapper {
      display: flex !important;
      align-items: center;
      justify-coddntent: center;
      width: 160px;
      height: 160px;
      @include respond-to(small) {
        display: inline-block !important;
        width: auto;
        width: 224px !important;
        height: 224px;
      }
    }
    &__img {
      display: block !important;
      width: 160px;
      height: 160px;
      @include respond-to(small) {
        width: 224px !important;
        height: 224px;
      }
    }
    &__title-container {
      padding: 24px;
      @include respond-to(small) {
        padding: 16px 24px;
        max-height: 200px;
        overflow: scroll;
      }
      &__title {
        margin: 0;
        display: block;
        color: $colors-secondary;
        font-weight: 500;
        text-decoration: none;
        &__date {
          display: inline-block;
          margin-top: 4px;
          font-style: italic;
          font-weight: 400;
          margin-bottom: 8px;
          color: #757575;
        }
      }
      &__subtitle {
        margin-top: 0;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 8px;
        color: #757575;
      }
    }
  }
}
